body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.bottom-bordered {
  border-bottom: 1px dotted grey;
}
.btntxtclr {
  color: white;
}

.imgformat {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 350px;
}

.splashimg {
    
}