@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

body {
  background-color: #FBF7ED;
  color: #2B1415;

}
.bottom-bordered {
  border-bottom: 1px dotted grey;
}
.btntxtclr {
  color: white;
}

.imgformat {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 350px;
}
#hand-img {
  float: right;
}
.header-giant {
  font-family: 'Rock Salt', cursive;
  font-size: 4em;
  font-weight: bold;
  position: absolute;
  top: 198px;
  left: 30px;
}
.header {
  font-family: 'Rock Salt', cursive;
}

.splash {
  margin-top: auto;

}
.button-bar {
  width: 450px;
  margin: auto;

}
.button-bar > a > a {
  margin: 1em;

}